<h1>Still new to Design? Let's start with the basics.</h1>


<div class="row">
	<div class="col-md-9">
		<h2>What is Design?</h2>

		<p>Private companies like Apple and public agencies like the United Kingdom’s Government Digital Service have demonstrated the power of design. Whether you are a small department or a whole city government, your services require design to be effective and efficient in our fast-changing world.</p>

		<p>What is ‘design’ though? It isn't just your brand. It’s more than color and typography. Design isn’t how your website looks, <b>design is how it works</b> for visiting citizens. At it's core, Design is a set of values that help us solve problems. As a result, design a tool to help you deliver services that meet the ever evolving needs of your constituents.</p>

		<p class="lead">This primer will help you understand design and provide resources to help you find the design talent government needs.</p>

		<p>Let's start with what many of us know. You’re probably familiar with the Classic Design Disciplines. We have good mental images for many types of design such as graphic design, industrial design, and architecture. After all, humans have been practicing these disciplines for thousands of years.</p>

		<p>With each new wave of technology, new design disciplines have bloomed. While their antecedents are often millennia old as well, we’ve only defined these practices as distinct crafts with the rise of computers and the Internet. <b>In our modern culture, these design disciplines are key to transforming public services</b>:</p>
	</div>
	<div class="col-md-3">
		<div class="well quote-well">
			<p class="quote">Design is in everything we make, but it’s also between those things. It’s a mix of craft, science, storytelling, propaganda, and philosophy.</p><p class="quote-attribution"><a href="http://www.jnd.org/">Erik Adigard</a></p>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<h3>User Experience</h3>
		<div class="primer-panel">
			<p>Consideration of people’s experience using a system, including their emotional responses, such as delight or satisfaction, as well as the decisions that a user must make. User experience design is built on learnings from psychology, sociology, anthropology and cognitive science.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/user-research.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>User Interface</h3>
		<div class="primer-panel">
			<p>The means by which people interact with a digital or physical product. We use these all the time, but we don’t call them user interfaces, we call them Google Search or the Facebook like button, or Windows. Good user interface design emphasizes goals and accomplishing tasks, and asks no more attention from people than is required.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/user-research.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Information Architecture</h3>
		<div class="primer-panel">
			<p>Architecture information and data are organized and how you want your user to understand the information you’re trying to convey. It helps catalog and categorize the information, in order to the most relevant information findable and usable.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/user-research.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Service Design</h3>
		<div class="primer-panel">
			<p>Service design is the activity of planning and organizing people, infrastructure, communication and material components of a service in order to improve its quality and the interaction between service provider and customers.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/user-research.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-12">
			<h3>Design Thinking</h3>
			<div class="primer-panel">
				<p>Using the process of design to solve problems. It’s applying creative thinking to anything from designing a car to the process of how you register the car at the DMV.</p>
				<span class="primer-link"><a href="{{ site.baseurl }}/user-research.html">Learn More &#8594;</a></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>What unites the modern design disciplines?</h2>

		<div class="col-md-4">
			<p class="lead">They focus on the User </p>
			<p>The real revelation with these newer forms of design is that they put the user at the center. Designers are creating with their users in mind and working them for feedback and testing, rather than designing for purely aesthetic intent.</p> 
		</div>


		<div class="col-md-4">
			<p class="lead">They’re about how things work.</p>
			<p>Our modern disciplines of design are about how things work for people. Designers are creating systems.</p>
		</div>

		<div class="col-md-4">
			<p class="lead">They’ve evolved with technology.</p>
			<p>Tech has evolved a lot very quickly, changing the way we interact with our world. There are a lot of different devices now, with a lot of different variables from operating systems to screen sizes.  This shouldn’t be thought of as a challenge, but rather an opportunity to meet our users where they are and engage them in new ways.</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="well quote-well">
			<p class="quote">Most people make the mistake of thinking design is what it looks like. People think it’s this veneer – that the designers are handed this box and told, ‘Make it look good!’ That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works.</p><p class="quote-attribution"><a href="http://www.jnd.org/">Steve Jobs</a></p>
		</div>
	</div>
</div>

<div class="row">
	<h2>What makes good design?</h2>
	<p class="lead">There are many qualities that make for good design, but Dieter Rams, a famous designer, has developed 10 principles that can help guide design evaluation.</p>

	<div class="col-md-2 rams-offset">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="The possibilities for innovation are not, by any means, exhausted. Technological development is always offering new opportunities for innovative design. But innovative design always develops in tandem with innovative technology, and can never be an end in itself."><p class="lead">Good design is innovative</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="A product is bought to be used. It has to satisfy certain criteria, not only functional, but also psychological and aesthetic. Good design emphasises the usefulness of a product whilst disregarding anything that could possibly detract from it"><p class="lead">Good design makes a product useful</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="The aesthetic quality of a product is integral to its usefulness because products we use every day affect our person and our well-being. But only well-executed objects can be beautiful."><p class="lead">Good design is aesthetic</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="It clarifies the product’s structure. Better still, it can make the product talk. At best, it is self-explanatory."><p class="lead">Good design makes a product understandable</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="It does not make a product more innovative, powerful or valuable than it really is. It does not attempt to manipulate the consumer with promises that cannot be kept."><p class="lead">Good design is honest</p></div>
	</div>
</div>

<div class="row">

	<div class="col-md-2 rams-offset">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="It avoids being fashionable and therefore never appears antiquated. Unlike fashionable design, it lasts many years – even in today’s throwaway society."><p class="lead">Good design is long-lasting</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Nothing must be arbitrary or left to chance. Care and accuracy in the design process show respect towards the user."><p class="lead">Good design is thorough down to the last detail</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Design makes an important contribution to the preservation of the environment. It conserves resources and minimises physical and visual pollution throughout the lifecycle of the product."><p class="lead">Good design is environmentally friendly</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Products fulfilling a purpose are like tools. They are neither decorative objects nor works of art. Their design should therefore be both neutral and restrained, to leave room for the user’s self-expression."><p class="lead">Good design is unobtrusive</p></div>
	</div>

	<div class="col-md-2">
		<div class="rams" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Less, but better – because it concentrates on the essential aspects, and the products are not burdened with non-essentials. Back to purity, back to simplicity."><p class="lead">Good design is as little design as possible</p></div>
	</div>
</div>

<div class="row">
	<h2>Why Design Matters in Government</h2>

	<p class="lead">We believe that good design can make public services more effective and efficient, and more responsive to citizens needs. Perhaps most importantly, we believe that when public services meet citizens needs, it builds trust between citizens and government.</p>

	<p>Practitioners around the world are reshaping government services in their community. Whether high-tech and low-tech, each of these efforts place the citizen’s needs at the center of their thinking. They are committed to understanding citizen needs through a deliberate empathy. They embrace humility, continuous learning, and iterative improvement. They are bringing Design to government.</p>

	<p>There are many avenues to get started in bringing design to your organization. They include everything from adopting a design process, to building effective teams, to including design in contracting.</p>
</div>

<div class="row">

	<div class="col-md-3 action">
		<a href="/user-research.html">
			<div class="rams">
				<p class="lead">User Research</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/ideation.html">
			<div class="rams">
				<p class="lead">Ideation</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/concept-development.html">
			<div class="rams">
				<p class="lead">Concept Development</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/experience-maps.html">
			<div class="rams">
				<p class="lead">Experience Maps</p>
			</div>
		</a>
	</div>
</div>

<div class="row">

	<div class="col-md-3 action">
		<a href="/content-strategy.html">
			<div class="rams">
				<p class="lead">Content Strategy</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/information-architecture.html">
			<div class="rams">
				<p class="lead">Information Architecture</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/wireframes.html">
			<div class="rams">
				<p class="lead">Wireframes</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/visual-design.html">
			<div class="rams">
				<p class="lead">Visual Design</p>
			</div>
		</a>
	</div>
</div>

<div class="row">

	<div class="col-md-3 action">
		<a href="/prototype.html">
			<div class="rams">
				<p class="lead">Prototype</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/test.html">
			<div class="rams">
				<p class="lead">Test</p>
			</div>
		</a>
	</div>
	<div class="col-md-3 action">
		<a href="/iterate.html">
			<div class="rams">
				<p class="lead">Iterate</p>
			</div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Connect to the Design Community</h3>
		<div class="primer-panel">
			<p>Get to know fellow designers and design fans through online channels and out in the real world at events.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/community.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Hire Designers and Developers Within Government</h3>
		<div class="primer-panel">
			<p>Structure your human resources policy to create a team that fosters roles for designers and developers.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/hiring.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Create Design Standards and Goals</h3>
		<div class="primer-panel">
			<p>Develop shared design standards and goals that set the bar across your organization.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/standards.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Include Design in Procurement</h3>
		<div class="primer-panel">
			<p>Make design part of the requirement for vendors in contracts.</p>
			<span class="primer-link"><a href="{{ site.baseurl }}/procurement.html">Learn More &#8594;</a></span>
		</div>
	</div>
</div>