---
layout: discipline
title: User Experience
slug: user-experience
categories: digital
tags: Discipline, Design Process
lead: ""
base_url: "../"
---

<h2>User Experience</h2>
<p class="lead">The experience of using a system, including things like the emotions and feelings, such as delight or satisfaction, as well as the decisions that a user must make. User experience is often spoken about in terms of websites or applications, but can also be considered for in person interactions such as interacting with a government agency or moving through a public space. </p>
	{% include placeholder-lg-intro.html %}
<div class="well quote">
	{% include quote-user-experience.html %}
</div>
</br>
<h3>More About User Experience</h3>
	{% include placeholder-lg-details.html %}
</br>
<h3>Potential Deliverables</h3>
<div class="panel panel-default">
	<div class="panel-heading">
  		<h4 class="panel-title">User Research</h4>
  		<a href="{{ site.baseurl }}/user-research.html" class="btn btn-primary" role="button">Learn More</a>
	</div>
	<div class="panel-body">
  		<p>User research helps you channel the needs, desires, and motivations of the people who use what you create.</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
  		<h4 class="panel-title">Experience Maps</h4>
  	 	<a href="{{ site.baseurl }}/experience-maps.html" class="btn btn-primary" role="button">Learn More</a>
	</div>
	<div class="panel-body">
  		<p>Chart the experience moments including steps in a process and the emotions and feelings, such as delight or satisfaction, as well as the decisions that a user must make.</p>
	</div>
</div>
</br>
<h3>Case Studies</h3>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
  		<img data-src="holder.js/300x200" alt="...">
  		<div class="caption">
    		<h3>See Your Design Work Here</h3>
    		<p>Contribute the story of how you're designing government.</p>
    		<p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
  		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
  		<img data-src="holder.js/300x200" alt="...">
  		<div class="caption">
    		<h3>Share an Example Case Study</h3>
    		<p>Celebrate the work of your team by telling the world what you create together.</p>
    		<p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
  		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
  		<img data-src="holder.js/300x200" alt="...">
		<div class="caption">
			<h3>Tell the Story of Your Design Process</h3>
			<p>Share how you design with government.</p>
			<p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
		</div>
	</div>
</div>
