<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Meta, title, CSS -->
  	{% include header.html %}
  </head>
  <body>
  	<a class="sr-only" href="#content">Skip to main content</a>

  	{% include nav-main.html %}

  	<div class="container bs-docs-container faq-container">

  		<div class="row">
  			<div class="col-md-12 faq-content" role="main">
          {% include breadcrumbs.html %}
          <h3>Case Studies</h3>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                  <h3>See Your Design Work Here</h3>
                  <p>Contribute the story of how you're designing government.</p>
                  <p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                  <h3>Share an Example Case Study</h3>
                  <p>Celebrate the work of your team by telling the world what you create together.</p>
                  <p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
              <div class="caption">
                <h3>Tell the Story of Your Design Process</h3>
                <p>Share how you design with government.</p>
                <p><a href="/contribute.html" class="btn btn-primary btn-green" role="button">Contribute</a></p>
              </div>
            </div>
          </div>
        </div>
      {% include related-posts.html %}
  	</div>
  </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p class="contact-info">
              <strong>Contact Info</strong>
              <br />
              <a href="https://twitter.com/designgov" class="white">@designgov</a>
              <br />
              <a href="mailto:alanw@codeforamerica.org" class="white">designinggovernment@gmail.com</a>
              <br />
              (415) 573-2407
            </p>
          </div>
          <div class="col-md-8">
<!--             <div id="footer-logos">
              <a href="http://cityofsantacruz.com" target="_blank"><img alt="Santacruz-logo" src="http://d1nm1xss7y0hl5.cloudfront.net/assets/santacruz-logo-3c7173f6495f04685d719c55c46e9646.png" /></a>
              <img alt="Plus" src="http://d1nm1xss7y0hl5.cloudfront.net/assets/plus-912dce6a8e166f99f5c4a637d4fb5cfa.png" />
              <a href="http://codeforamerica.org" target="_blank"><img alt="Codeforamerica-logo" src="http://d1nm1xss7y0hl5.cloudfront.net/assets/codeforamerica-logo-5f2f677313da6b7d1f6f4278317e1e1e.png" /></a>
            </div>
            <p class="small-text">OpenCounter was piloted through Code for America’s fellowship with the City of Santa Cruz in 2012.</p>
          </br>
            <p class="small-text">OpenCounter is supported by the John S. and James L. Knight Foundation's Knight News Challenge. Knight's mission is to promote informed and engaged communities.</p>
          </div>
        </div> -->
          <div class="container text-center">`
            <br />
                        <small class="about"><em>Designing Government serves as an introduction to design for public servants and a gathering place for the civic design community. It provides an overview of design disciplines, a collection of case studies demonstrating the use of design in government, and key techniques for bringing design to bear in the public sector through hiring, procurement, and policy.</em></small>
          </div>
        </div>
      </div>
    </div>
  </footer>

    {% include footer.html %}

  </body>
</html>